*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
   
}

.boxed {
    margin: 0 auto;
    max-width: 1200px;
}

/* header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    padding: 1rem;
    border: dashed 2px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.column-dx{
    width: 50%;
    text-align: end;
}

.column-sx{
    width: 50%;
}

/* main */

/* jumbo */
.jumbo-container{
    margin-top: 100px;
    padding-top: 150px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: blue;
    width: 100%;
    height: 400px;

}

.jumbo{
    display: flex;
    flex-direction: row;
}

.box-testo-1{
    width: 40%;
    background-color: orange;
    border: dashed 2px;
}

.box-img-1{
    width: 60%;
    background-color: yellow;
    border: dashed 2px;
}


