*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
   
}

.boxed {
    margin: 0 auto;
    max-width: 1000px;
}

hr{
    width: 80px;
    color: lightgray;
    margin-left: 2rem;
}

a{
    position: relative;
}

a::after{
    content: "";
    position: absolute;
    background-color:#0061FF;
    height: 3px;
    width: 0%;
    left: 0;
    bottom:0;
    transition: 0.3s;

}

a:hover:after{
    width: 100%;
}


.btn-blu{
padding: 0.3rem 1rem;
border: none;
background-color: #0061FF;
color: white;
}

.img-jumbo,.img-part,.img-card{
    width: 100%;
}



/* header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.column-dx{
    width: 50%;
    text-align: end;
}

.column-sx{
    width: 50%;
}

a{padding: 1rem;
    color: black;
    text-decoration: none;
}

/* main */

/* jumbo */
.jumbo-container{
    padding-top: 150px;
    background-color: #B4D0E7;
    width: 100%;
    max-height: 650px;
}

.jumbo{
    display: flex;
    flex-direction: row;
}

.box-testo-1{
    width: 40%;
    padding: 2rem;
}

.btn-jumbo{
    padding: 1rem 0.5rem;
}

.box-img-1{
    width: 60%;
}


h1{
    font-size: 70px;
    padding: 2rem;
}

/* sezione 2 */

.section-2{
    padding-top: 7rem;

}

.cerchio{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px blue;
}

.cerchio-vuoto{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 2rem;
    border-radius: 50%;
    border: solid 3px lightgrey;
}

.pieno,.vuoto{
    display: inline-block;
}

.piano{
    margin-bottom: 2rem;
}

h3{
    font-size: 35px;
    padding: 2rem 0;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    min-height: 500px;
    
}

.card{
    width: calc(100% / 3 - 5rem);
    text-align:left;
    border: solid 1px lightgray;
}

.card-type{
   
    border-bottom:solid 1px lightgray;
    text-align: center;
    padding: 0.5rem;
}

p{
    padding: 0.5rem;
}

.buy{
    text-decoration: underline;
    color: blue;
    padding: 0;

}

.bold{
    font-weight: 800;
    font-size: 20px;
}

.prova{
    padding: 1rem;
}

.btn-free-trial{
    margin: 2rem 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    background-color: #0061FF;
    color: white;

}

.bottom-card{
    margin: 2rem 0;   
    border: solid 1px lightgray;
    

}

.team{
    text-align: center;
    padding: 0.5rem 0;
    border: solid 1px lightgray;
}

.team-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.bottone{
    width: 40%;
    text-align: end;

}

.testo-card{
    width: 60%;
    

}
/* sezione 3 */

.sezione-3{
    
    padding: 3rem;
}
.container-3{
    display: flex;
    flex-direction: row;
}

.box-img-2,.box-text-2{
    width: 60%;
}

.box-testo-2{

    width: 40%;
    padding: 4rem 5rem 2rem 2rem;

}

.testo-2{
    margin-left: 0.5rem;
    text-align: left;
}

.btn-partner{
    padding: 0.6rem 1.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    background-color: white;
    border: solid 1px black;
    color: black;

}

/* sezione 4 */

.sezione-4{
    padding: 3rem;
}

.titolo-s4{
    text-align: left;
    font-weight: 800;
    padding: 1.5rem;
}

.container-cards-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.cards{
    
    
    padding: 1.5rem;
    width: calc(100% / 3);   
    text-align:left;
    
}


.testo-card-s4{
    font-weight: 600;
    font-size: 25px;
    padding: 1rem 0;
}
 
/* sezione 5 */

.sezione-5{
    margin-top: 3rem;
}

.titolo-s5{
    margin-top: 5rem;
    padding-bottom: 3rem;
    margin-top: 5rem;

}

.text-container-s5{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 4rem;
}

.container-img{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.img-designit{
    width: 100%;
    filter: invert(1);
}

.p-designit{
    padding: 2rem;
}

.column-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% / 3);
    min-height: 400px;


}

.column-2{
    width: calc(100% / 3);    
    background-color: lightgray;
    
    
}

.designit-logo{
    width: 50%;
    padding: 2rem;

}
.designit-black{
    width: 100%;

}

.text-designit{
    margin: 1rem 0;
}

.column-3{
    width: calc(100% / 3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    background-color: white;
    
}

.column-img-1{
    background-color:#A2D39B;
    width:50%;
    height:50%;
    padding: 2rem;
}


.column-img-2{
    background-color: #61082B;
    width:50%;
    height:50%;
    padding: 2rem;
}

.column-img-3{
    background-color: #0093CE;
    width:50%;
    height:50%;
    padding: 2rem;
}

.column-img-4{
    background-color: #FF1C1C;
    width:50%;
    height:50%;
    padding: 2rem;
}

.column-img-5{
    background-color: #D5001F;
    width:50%;
    height:50%;
    padding: 2rem;
}
.column-img-6{
    background-color: #B4D0E7;
    width:50%;
    height:50%;
    padding: 2rem;
}
.column-img-7{
    background-color:#0D2481;
    width:50%;
    height:50%;
    padding: 2rem;
}
.column-img-8{
    background-color: #FFD830;
    width:50%;
    height:50%;
    padding: 2rem;
}
.column-4{
    
    width: 100%;
    min-height: 300px;
    background-color: #B4D0E7;
}

.container-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7rem 0;
    width: 100%;

}

.btn-free{
    padding: 0.3rem 1rem;
    border:none;
    background-color:white;
    color: black;

}

.box-text-2{
    width: 60%;
    font-weight: 700;
    font-size: 35px;
    color: #61082B;
}

/* sezione 6 */
.sezione-6{
    margin-top: 3rem;

}
.hr-fq{
    width: 100%;
    color: lightgrey;
    margin: 0;
}

.fq-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin: 4rem 0;
}
.hover-fq{
    display: none;
}

.fq:hover .hover-fq{
    display: block;
}
 .p-fq{
    display: inline-block;
 }

 .fa-chevron-down{
    padding-left: 22rem;
 }





/* footer */
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    gap: 2rem;
    color: white;
    min-height: 400px;
   padding-left: 15%;
   padding-right: 15%;
   padding-top: 3rem;
}
.footer-column{
   width: calc(100% / 5);
}

span{
    display: inline-block;
}

.footer-text{
    padding: 0.5rem 0;
}
.h2-footer{
    padding-bottom: 1rem;
}
.hr-footer{
    width: 60%;
    margin: 5rem 0 2rem 0;

}



